.faq-item {
  list-style-type: none;
  margin: 14px 0;
  border-radius: 8px;
  border: 2px solid #d7dae6;
  padding: 18px;
}

.question-container {
  display: flex;
  justify-content: space-between;
}

.question {
  font-size: 24px;
  color: #52606d;
  font-weight: 500;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.hr-line {
  margin: 10px 0;
}

.answer {
  font-size: 18px;
  color: #9aa5b1;
}
